# Node modules and lock files
node_modules/
pnpm-lock.yaml
.pnp/
.pnp.js

# Build outputs
dist/
dist-ssr/
build/
.next/
out/
coverage/
logs/
dist/

# Turbo/monorepo cache
.turbo/
.cache/

# OS/system/editor files
.DS_Store
.env*
*.local
*.log

# IDE configs
.vscode/
.idea/

# Sanity
.sanity/

# TypeScript build info
*.tsbuildinfo

# Vercel
.vercel/
