
[submodule "apps/portfolio-server"]
	path = apps/portfolio-server
	url = ssh://codeserver.dev.2e35d525-6867-4db5-a1f4-b8b12a0c610f@codeserver.dev.2e35d525-6867-4db5-a1f4-b8b12a0c610f.drush.in:2222/~/repository.git
