// Typography
$typeface-sans-serif: "sans-serif";
$typeface-source-sans-pro: "Source Sans Pro";
$typeface-lora: "Lora";

// Colors
$darker-gray: #434E52;
$dark-gray: #666666;
$light-gray: #707070;
$lighter-gray: #989c9f;
$regular-gray: #DEDEDE;
$regular-green: #4CAF50;
$regular-red: #F44336;